/* Carousel */
.custom-carousel {

    .carousel-item {
        position: relative;

        > .carousel-caption {
            z-index: 2;
        }

        &:before  {
            background-color: rgba(0, 0, 0, .48);
            position: absolute;
            content: '';
            z-index: 1;
            right: 0;
            bottom: 0;
            left: 0;
            top: 0;
        }
    }
}