.footer {
    background: #514562;
    position: relative;
    overflow: hidden;
    padding-top: 0;
    z-index: 0;

    .center-footer {
        margin-bottom: 4rem;
        margin-top: 4rem;

        .address {

            h4 {
                color: rgba(255, 255, 255, .5);
                margin-bottom: 14px;
                font-size: 24px;
            }

            span {
                color: rgba(255, 255, 255, .5);
                padding-left: 19px;
                font-size: 15px;
                position: relative;
                margin-top: 4px;
                font-weight: 300;
                display: block;

                i {
                    position: absolute;
                    font-size: 22px;
                    z-index: 1;
                    top: -5px;
                    left: 0;
                }
            }
        }
    }

    .newsletter {
        background-color: #322B3C;

        .aside-stretch {
            background: #322B3C;
            position: relative;
            padding: 56px 0;

            &:after {
                background: #322B3C;
                position: absolute;
                right: 100%;
                content: '';
                width: 228%;
                bottom: 0;
                top: 0;
            }
        }

        .aside-stretch-right {
            background: #372f42;
            position: relative;
            padding: 56px 48px;

            &:after {
                background: #372f42;
                position: absolute;
                left: 100%;
                bottom: 0;
                content: '';
                width: 228%;
                top: 0;
            }
        }
    }

    .copyright {
        color: rgba(255, 255, 255, .5);
        background-color: #4a4059;
        text-align: center;
        padding: 24px 0;
    }

    .subheading {
        color: rgba(255, 255, 255, .3);
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    .heading-section {
        text-transform: uppercase;
        font-weight: 700;
        color: white;
        font-size: 34px;
    }

    .footer-heading {
        margin-bottom: 20px;
        font-size: 20px;
        color: white;

        .logo {
            color: white;
        }
    }

    p {
        color: rgba(255, 255, 255, 0.3);
    }

    a {
        color: white;
    }

    .list-unstyled {
        li {
            margin-bottom: 8px;

            a {
                color: rgba(255, 255, 255, .5);
                text-decoration: none;
                align-items: center;
                flex-direction: row;
                flex-wrap: nowrap;
                display: flex;
                column-gap: 8px;
            }
        }
    }

    .subscribe-form {
        border-radius: 40px;
        background: white;
        padding: 3px;

        .form-group {
            justify-content: space-between;
            margin-bottom: 0 !important;
            position: relative;
            flex-wrap: nowrap;
            border-radius: 0;
            display: flex;

            input {
                color: rgba(0, 0, 0, .3);
                background: transparent;
                padding-left: 22px;
                border-radius: 0;
                font-size: 16px;
                height: 56px;
                border: none;
                outline: none;

                &::-webkit-input-placeholder,
                &::-moz-placeholder,
                &:-ms-input-placeholder ,
                &:-moz-placeholder {
                    color: rgba(0, 0, 0, .3);
                }

                &:focus {
                    box-shadow: none;
                    outline: none;
                }
            }

            .submit {
                flex-direction: row-reverse;
                text-transform: uppercase;
                justify-content: center;
                padding: 0 20px 0 28px;
                align-items: center;
                background: #352d3f;
                border-radius: 40px;
                letter-spacing: 1px;
                color: white;
                display: flex;
                column-gap: 8px;
                height: 56px;
                font-size: 18px;
                border: none;

                i {
                    font-size: 28px;
                }

                &:hover,
                &:focus {
                    text-decoration: none;
                    outline: none;
                }
            }
        }
    }
}