.btn-primary {
    --bs-btn-bg: #7467F0;
    --bs-btn-border-color: #7467F0;
    --bs-btn-hover-bg: #6255D8;
    --bs-btn-hover-border-color: #6154D7;
    --bs-btn-active-bg: #7467F0;
    --bs-btn-active-border-color: #7467F0;
    --bs-btn-disabled-bg: #7467F0;
    --bs-btn-disabled-border-color: #7467F0;
}

.btn-danger {
    --bs-btn-bg: #FF264E;
    --bs-btn-border-color: #FF264E;
    --bs-btn-hover-bg: #E91A40;
    --bs-btn-hover-border-color: #E91A40;
    --bs-btn-active-bg: #E91A40;
    --bs-btn-active-border-color: #E91A40;
    --bs-btn-disabled-bg: #FF264E;
    --bs-btn-disabled-border-color: #FF264E;
}

.btn-success {
    --bs-btn-bg: #01D87F;
    --bs-btn-border-color: #01D87F;
    --bs-btn-hover-bg: #00BA6D;
    --bs-btn-hover-border-color: #00BA6D;
    --bs-btn-active-bg: #01D87F;
    --bs-btn-active-border-color: #01D87F;
    --bs-btn-disabled-bg: #01D87F;
    --bs-btn-disabled-border-color: #01D87F;
}

body.react-confirm-alert-body-element {
    overflow: auto;
}

.react-confirm-alert-body {
    border: 1px solid #eee;

    h1 {
        font-size: 23px;
        font-weight: 600;
    }
    .react-confirm-alert-button-group {

        > button {

            &:first-child {
                background-color: #01D87F;
                border: 1px solid #01D87F;
            }

            &:last-child {
                background-color: transparent;
                border: 1px solid #EEE;
                color: #666;
            }  
        }
    }
}