.loading {
    background-image: url('../images/loading.svg');
    background-position: center center;
    transition: .68s all ease-in-out;
    background-repeat: no-repeat;
    background-color: #f9fafc;
    position: absolute;
    visibility: hidden;
    z-index: 99999999;
    opacity: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

/* Carousel */
.custom-carousel {

    .carousel-item {
        position: relative;

        > .carousel-caption {
            z-index: 2;
        }

        &:before  {
            background-color: rgba(0, 0, 0, .48);
            position: absolute;
            content: '';
            z-index: 1;
            right: 0;
            bottom: 0;
            left: 0;
            top: 0;
        }
    }
}